/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (max-width: 375px) {
  body .container {
    width: 100%;
  }
}

body .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.5rem 5rem 0 5rem;
}

@media only screen and (max-width: 375px) {
  body .container nav {
    padding: 1.5rem 1rem 0 1rem;
  }
}

body .container nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 375px) {
  body .container nav .logo img {
    width: 100px;
  }
}

body .container nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

@media only screen and (max-width: 375px) {
  body .container nav .nav-links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

body .container nav .nav-links a {
  text-decoration: none;
  color: #585989;
}

@media only screen and (max-width: 375px) {
  body .container nav .nav-links a {
    padding: 0.5rem;
  }
}

body header, body section {
  padding: 5rem 5rem;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 375px) {
  body header, body section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    padding: 0 1rem;
    margin: 0;
  }
}

body header .left, body section .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 375px) {
  body header .left, body section .left {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

body header .left .content, body section .left .content {
  line-height: 1.5;
}

body header .left .content h3, body section .left .content h3 {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 375px) {
  body header .left .content h3, body section .left .content h3 {
    font-size: 1.6rem;
  }
}

body header .left .content p, body section .left .content p {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-weight: 0;
  font-size: 1rem;
  color: #585989;
  padding: 0 5rem 0 0;
}

@media only screen and (max-width: 375px) {
  body header .left .content p, body section .left .content p {
    padding: 0;
    text-align: center;
  }
}

body header .right, body section .right {
  width: 50%;
}

@media only screen and (max-width: 375px) {
  body header .right, body section .right {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
}

body header .right img, body section .right img {
  max-width: 100%;
}

@media only screen and (max-width: 375px) {
  body header .right img, body section .right img {
    width: 100%;
    padding: 0;
  }
}

body header .cta-section, body section .cta-section {
  margin-top: 20px;
}

@media only screen and (max-width: 375px) {
  body header .cta-section, body section .cta-section {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body header .cta-section input, body section .cta-section input {
  border: 1px solid #585989;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  border-radius: 3px;
  margin-right: 10px;
}

body header .cta-section input::-webkit-input-placeholder, body section .cta-section input::-webkit-input-placeholder {
  color: #bfbfbf;
}

body header .cta-section input:-ms-input-placeholder, body section .cta-section input:-ms-input-placeholder {
  color: #bfbfbf;
}

body header .cta-section input::-ms-input-placeholder, body section .cta-section input::-ms-input-placeholder {
  color: #bfbfbf;
}

body header .cta-section input::placeholder, body section .cta-section input::placeholder {
  color: #bfbfbf;
}

@media only screen and (max-width: 375px) {
  body header .cta-section input, body section .cta-section input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
}

body header .cta-section button, body section .cta-section button {
  border: none;
  padding: 16px;
  width: 30%;
  background: #3065f8;
  color: #fff;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.23);
  box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.23);
}

@media only screen and (max-width: 375px) {
  body header .cta-section button, body section .cta-section button {
    width: 100%;
    margin-top: 20px;
  }
}

body .section-1 {
  background-color: #f6f6fe;
  margin-top: 100px;
  position: relative;
}

body .section-1 .content p {
  margin: 20px 0;
}

body .section-1 .content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  padding: 5px 0;
  width: 175px;
  background: none;
  color: #3c9f8f;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 0;
  border-bottom: 1px solid #3c9f8f;
  margin: 20px 0;
  font-size: 1rem;
  cursor: pointer;
}

body .section-1 .content button img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .section-1 .content .testimonial-card {
  width: 20rem;
  background-color: #fff;
  padding: 2rem;
  margin-top: 3rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

body .section-1 .content .testimonial-card p {
  padding: 0;
}

body .section-1 .content .testimonial-card .avatar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section-1 .content .testimonial-card .avatar-section img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

body .section-1 .content .testimonial-card .avatar-section p {
  display: block;
  padding: 0 0 0 10px;
  margin: 0;
}

body .section-1 .content .testimonial-card .avatar-section p:nth-child(1) {
  font-weight: 700;
  font-size: 0.8rem;
}

body .section-1 .content .testimonial-card .avatar-section p:nth-child(2) {
  font-size: 0.7rem;
}

body .section-1::before {
  content: '';
  background-image: url("/images/bg-curve-desktop.svg");
  background-size: cover;
  position: absolute;
  top: -80px;
  left: 0;
  height: 80px;
  width: 100%;
}

@media only screen and (max-width: 375px) {
  body .section-1::before {
    background-image: url("/images/bg-curve-mobile.svg");
    background-size: cover;
    position: absolute;
    top: -50px;
    left: 0;
    height: 50px;
  }
}

body .section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #585989;
}

body .section-2 .left {
  width: 60%;
}

body .section-2 .left .content h2 {
  color: #f6f6fe;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}

body .section-2 .left .content p {
  color: #f6f6fe;
  padding: 0 35% 0 0;
}

body .section-2 .right {
  width: 40%;
}

body .section-2 .right .cta-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .section-2 .right .cta-section input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
}

body .section-2 .right .cta-section button {
  width: 40%;
}

body footer {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #070439;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .column-1 img {
  padding: 0 10px 0 0;
}

body footer .column-1 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

body footer .column-1, body footer .column-2, body footer .column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

body footer .column-2 a, body footer .column-3 a {
  text-decoration: none;
  color: #fff;
  padding: 15px 0;
}

body footer .column-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  height: 30px;
  width: 9.5%;
}

body footer .column-4 .fb-icon, body footer .column-4 .tw-icon, body footer .column-4 .ig-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */