//anything reusable such as buttons, navbars, cards etc.
@mixin button($border, $padding, $width, $background, $color){
    border:$border;
    padding: $padding;
    width: $width;
    background: $background; ///background-color
    color: $color;
    cursor: pointer
} 