//CSS that handles the layout, such as the container and any grid systems.
body{
    .container{
        @media only screen and (max-width:375px) {
            width:100%;
          }
        nav{
            @include display(flex);
            justify-content: space-between;
            padding: 3.5rem 5rem 0 5rem;
            @media only screen and (max-width:375px){
            //   border:3px solid black;
              padding:1.5rem 1rem 0 1rem;
            //   align-content: space-between;
            //   padding-left:20px;
            //   padding-right:20px;
               
            }
            .logo{
                display: flex;
                padding:0;
                margin:0;
                img{
                    @media only screen and (max-width:375px) {
                        // width:50%;
                        // height:50%;
                        width:100px;
                    }
                }
            }

            .nav-links{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 250px;
                @media only screen and (max-width:375px) {
                    // border:3px solid black;
                    justify-content: flex-end;
                    
                 }
                a{
                    text-decoration: none;
                    color:$desaturated-blue;
                    @media only screen and (max-width:375px) {
                        // border:3px solid black;
                        padding:0.5rem;
                     }
                }
            }
        }
    }

    header, section{
        padding: 5rem 5rem;
        padding-top:5rem;
        @include display(flex);
        @media only screen and (max-width:375px){
            @include display(flex, column);
            flex-direction: column-reverse;
            padding:0 1rem;
            // margin-top:30px;
            margin:0;
         }
        .left{
            @include display(flex, column);
            width: 50%;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width:375px) {
                // border:3px solid black;
                width:100%;
                text-align:center;
                margin-top:30px;
             }
           .content{
                line-height: 1.5;
                h3{
                    color: $very-dark-blue;
                    @include font($raleway, 700);
                    font-size:2rem;
                    margin-bottom:20px;
                    @media only screen and (max-width:375px) {
                        // border:3px solid black;
                        font-size:1.6rem;
                     }
                }
                p{
                    color: $very-dark-blue;
                    @include font($raleway);
                    font-size:1rem;
                    color: $desaturated-blue;
                    padding:0 5rem 0 0;
                    @media only screen and (max-width:375px) {
                        // border:3px solid orange;
                        padding:0;
                        text-align:center;
                     }
                }
           }
        }
        .right{
            width: 50%;
            @media only screen and (max-width:375px){
                width:100%;
                padding:0;
                margin-top:30px;
                
             }
            img{
                max-width: 100%;
                @media only screen and (max-width:375px) {
                    // border:3px solid black;
                    width:100%;
                    padding:0;
                 }
            }
        }

        .cta-section{
            margin-top:20px;
            @media only screen and (max-width:375px) {
                // border:3px solid purple;
                width:100%;
                padding:0;
                @include display(flex, column);
             }
            input{
                border: 1px solid $desaturated-blue;
                padding:15px;
                justify-content: space-between;
                width: 50%;
                border-radius:3px;
                margin-right:10px;
                &::placeholder{
                    color:$light-gray;
                }

                @media only screen and (max-width:375px) {
                    width: 100%;
                    box-sizing: border-box;
                    margin:0;
                 }
            }
            button{
                @include button(none, 16px, 30%, $bright-blue, #fff);
                @include font($raleway, 700);
                border-radius:3px;
                -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.23);
                -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.23);
                box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.23);
                @media only screen and (max-width:375px) {
                    width: 100%;
                    margin-top:20px;
                 }
            }
        }
    }
    .section-1{
        background-color: $light-grayish-blue;
        margin-top: 100px;
        position: relative;
        .content{
            p{
                margin:20px 0;
            }
            button{
                @include display(flex);
                align-items:center;
                justify-content: space-between;
                @include button(none, 5px 0, 175px, none, $moderate-cyan);
                @include font($raleway);
                border-bottom: 1px solid $moderate-cyan;
                margin: 20px 0;
                font-size: 1rem;
                cursor: pointer;
                img{
                    align-self: flex-end;
                }
            }

            .testimonial-card{
                width:20rem;
                background-color:#fff;
                padding:2rem;
                margin-top:3rem;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.14);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.14);
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.14);
                border-radius: 5px;
                p{
                    padding:0;
                }

                .avatar-section{
                    display: flex;
                    padding:0;
                    align-content: center;
                    align-items: center;
                    
                    img{
                        border-radius:50%;
                        width:10%;
                        height: 10%;
                    }
                    p{
                        display: block;
                        padding:0 0 0 10px;
                        margin:0;
                    }
                    p:nth-child(1){
                        font-weight: 700;
                        font-size:0.8rem;
                    }
                    p:nth-child(2){
                        font-size:0.7rem;
                    }
                }
            }
        }
    }
    .section-1::before{
        content: '';
        background-image: url('/images/bg-curve-desktop.svg');
        background-size:cover;
        position: absolute;
        top:-80px;
        left:0;
        height: 80px;
        width: 100%;
        @media only screen and (max-width:375px) {
            background-image: url('/images/bg-curve-mobile.svg');
            background-size:cover;
            position: absolute;
            top:-50px;
            left:0;
            height: 50px;
            // width: 100%;
        }
    }

    .section-2{
        @include display(flex);
        background-color: $desaturated-blue;
        .left{
            width:60%;
            .content{
                h2{
                    color: $light-grayish-blue;
                    @include font($raleway, 700);
                    font-size:2rem;
                    margin-bottom:20px;

                }
                p{
                    color: $light-grayish-blue;
                    padding:0 35% 0 0;
                }
            }
        }
        .right{
            width:40%;
            .cta-section{
                @include display(flex, column);

                input{
                    box-sizing: border-box;
                    width: 100%;
                    margin-bottom:15px;
                }
                button{
                    width:40%;
                }
            }
        }
    }
    footer{
        padding:5%;
        // display: flex;
        @include display(flex);
        background-color: $very-dark-blue;
        height:200px;
        justify-content: space-between;
        .column-1{
            img{
                padding:0 10px 0 0;
            }
            span{
                display: flex;
                align-items: center;
                padding:15px 0;
            }
        }
        .column-1, .column-2, .column-3{
            @include display(flex, column);
            color: #fff;
        }

        .column-2, .column-3 {
            a{
                text-decoration: none;
                color: #fff;
                padding:15px 0;
            }
        }
        .column-4{
            @include display(flex);
            color:white;
            height:30px;
            width:9.5%;
            .fb-icon, .tw-icon, .ig-icon{
                @include display(flex);
                border-radius: 50%;
                border:1px solid #fff;
                justify-content: center;
                align-items: center;
                width:100%;
                margin: 0 5px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}